# Listeler ve Demetler

Bu bölüme gelene kadar yalnızca iki farklı veri tipi görmüştük. Bunlardan biri karakter dizileri,
öteki ise sayılardı

başka amaçlara hizmet eden, başka veri tipleri
de vardır. İşte biz bu bölümde iki farklı veri tipi daha öğreneceğiz.

Bu bölümde ele alacağımız
veri tiplerinin adı ‘liste’ (list) ve ‘demet’ (tuple).

In [2]:
liste = ["Ahmet", "Mehmet", 23, 65, 3.2]

In [3]:
type(liste)

list

In [4]:
print(liste)

['Ahmet', 'Mehmet', 23, 65, 3.2]

In [8]:
liste.append(["a","b"])

In [9]:
liste

['Ahmet', 'Mehmet', 23, 65, 3.2, 'a', ['a', 'b']]

In [10]:
liste.extend(["a","c"])

In [11]:
liste

['Ahmet', 'Mehmet', 23, 65, 3.2, 'a', ['a', 'b'], 'a', 'c']

In [12]:
liste = ["Ali", "Veli", ["Ayşe", "Nazan", "Zeynep"], 34, 65, 33, 5.6]

In [13]:
type(liste)

list

In [14]:
for öğe in liste:
    
    print(f"{öğe} adlı ögemizin veri tipi {type(öğe)}'dir.'")      #ayşe nazan zeynep listedir. 
    
    1

Ali adlı ögemizin veri tipi <class 'str'>'dir.'
Veli adlı ögemizin veri tipi <class 'str'>'dir.'
['Ayşe', 'Nazan', 'Zeynep'] adlı ögemizin veri tipi <class 'list'>'dir.'
34 adlı ögemizin veri tipi <class 'int'>'dir.'
65 adlı ögemizin veri tipi <class 'int'>'dir.'
33 adlı ögemizin veri tipi <class 'int'>'dir.'
5.6 adlı ögemizin veri tipi <class 'float'>'dir.'

In [15]:
# split gibi bazı bölücü ve liste oluşturucu fonksiyonlar bazen yeterli olamaz

In [16]:
range(0,10)

range(0, 10)

In [17]:
print(*range(10))

0 1 2 3 4 5 6 7 8 9

In [19]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [20]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
meyveler = ["elma", "armut", "çilek", "kiraz"]


for öğe_sırası in range(len(meyveler)):
    
    print("{} . {} ".format(öğe_sırası, meyveler[öğe_sırası]))

0 . elma
1 . armut
2 . çilek
3 . kiraz

In [28]:
len(meyveler)

4

In [31]:
a = enumerate(meyveler,1)

In [33]:
list(a)

[(1, 'elma'), (2, 'armut'), (3, 'çilek'), (4, 'kiraz')]

In [35]:
for sıra, öğe in enumerate(meyveler , 1):
    
    print("{}.{}".format(sıra,öğe))

1.elma
2.armut
3.çilek
4.kiraz

In [36]:
liste = ["Ali", "Veli", ["Ayşe", "Nazan", "Zeynep"], 34, 65, 33, 5.6]

liste [2] [1]

'Nazan'

Hatırlarsanız karakter dizilerinden söz ederken bunların değiştirilemez (immutable) bir veri
tipi olduğunu söylemiştik. Bu özellikten ötürü, bir karakter dizisi üzerinde değişiklik yapmak
istediğimizde o karakter dizisini yeniden oluşturuyoruz.




Listeler ise değiştirilebilen (mutable) bir veri tipidir. Dolayısıyla listeler üzerinde doğrudan
değişiklik yapabiliriz. Bir liste üzerinde değişiklik yapabilmek için o listeyi yeniden
tanımlamamıza gerek yok. 









 renkler = ["kırmızı", "sarı", "mavi", "yeşil", "beyaz"]
>>> print(renkler)
['kırmızı', 'sarı', 'mavi', 'yeşil', 'beyaz']


>>> renkler[0] = "siyah"
>>> print(renkler)
['siyah', 'sarı', 'mavi', 'yeşil', 'beyaz']

In [44]:
liste = [1,2,3,4]

liste[0:len(liste)] = 5,6,7

In [45]:
liste

[5, 6, 7]

In [48]:
liste[:] = [5,6,[7,8]]

In [49]:
liste

[5, 6, [7, 8]]

In [50]:
derlenen_diller = ["C", "C++", "C#", "Java"]
yorumlanan_diller = ["Python", "Perl", "Ruby"]

In [51]:
bütün_diller = derlenen_diller + yorumlanan_diller

In [52]:
bütün_diller

['C', 'C++', 'C#', 'Java', 'Python', 'Perl', 'Ruby']

Bu program kullanıcının 10 adet sayı girmesine izin verip, program çıkışında, girilen sayıların
ortalamasını verecektir.
Peki girilen sayıların ortalaması ile birlikte, hangi sayıların girildiğini de göstermek isterseniz
nasıl bir kod yazarsınız?
Eğer böyle bir şeyi karakter dizileri ile yazmaya kalkışırsanız epey eziyet çekersiniz. Ama şöyle
bir kod yardımıyla istediğiniz şeyi basit bir şekilde elde edebilirsiniz:

In [59]:
sayılar = 0
notlar = []


for i in range(10):
    veri = int(input(f"{i+1}.notunuzu giriniz:"))
    sayılar += veri 
    notlar += [veri]
    
    
print("girdiğiniz notlar:",*notlar)
print("not ortalamanız: ", sayılar/10)

1.notunuzu giriniz:10
2.notunuzu giriniz:50
3.notunuzu giriniz:20
4.notunuzu giriniz:30
5.notunuzu giriniz:40
6.notunuzu giriniz:60
7.notunuzu giriniz:70
8.notunuzu giriniz:80
9.notunuzu giriniz:90
10.notunuzu giriniz:100
girdiğiniz notlar: 10 50 20 30 40 60 70 80 90 100
not ortalamanız:  55.0

>>> for i in 12345:
... print(i)
...
Traceback (most recent call last):
File "<stdin>", line 1, in <module>
TypeError: 'int' object is not iterable
    
    
Gördüğünüz gibi, 12345 sayısı üzerinde döngü kuramıyoruz. Aynı hata mesajını list()
fonksiyonunda da görürsünüz:
    
>>> list(12345)
Traceback (most recent call last):
File "<stdin>", line 1, in <module>
TypeError: 'int' object is not iterable
    
    
Dediğimiz gibi, tıpkı for döngüsünde olduğu gibi, list() fonksiyonu da ancak, üzerinde döngü
kurulabilen nesneler üzerinde çalışabilir. Mesela:
    
    
>>> list("12345")
['1', '2', '3', '4', '5']
Bu bilgilerin ışığında, yukarıda yazdığımız kodların şu şekilde yazılması halinde Python’ın bize
hata mesajı göstereceğini söyleyebiliriz

In [65]:
sayılar = 0
#notlar = []
a = list()

for i in range(10):
    veri = int(input(f"{i+1}.notunuzu giriniz:"))
    sayılar += veri 
    a += list(veri)
    
    #                                     LİST() İNT ALMIYOR!
print("girdiğiniz notlar:",*notlar)
print("not ortalamanız: ", sayılar/10)

1.notunuzu giriniz:10

TypeError: 'int' object is not iterable

In [66]:
list("abc")

['a', 'b', 'c']

In [67]:
list(50)

TypeError: 'int' object is not iterable

In [ ]:
# List Comprehension

liste = []
for i in range(1000):
liste += [i]              =
                                        liste = [i for i in range(1000)]

In [4]:
liste = []
for i in range(1000):            liste = [i for i in range(1000) if i % 2 == 0]
    if i % 2 == 0:
        liste += [i]

In [5]:
liste

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

In [6]:
liste = [i for i in range(1000) if i % 2 == 0 ]

In [7]:
liste

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

In [9]:
liste = [[1, 2, 3],
[4, 5, 6],
[7, 8, 9],
[10, 11, 12]]

tümü = []
for i in liste:
    for z in i:
        tümü += [z]

In [10]:
tümü

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

Demet tanımlamanın birkaç farklı yolu vardır. Nasıl karakter dizilerinin ayırt edici özelliği
tırnak işaretleri, listelerin ayırt edici özelliği ise köşeli parantez işaretleri ise, demetlerin ayırt
edici özelliği de normal parantez işaretleridir. Dolayısıyla bir demet tanımlamak için normal
parantez işaretlerinden yararlanacağız:

In [30]:
demet = "ali", 1

In [31]:
demet

('ali', 1)

In [32]:
g = ("gürkan")

In [33]:
type(g)

str

In [34]:
a1 = ("ahmet")
a2 = ("ahmet", "mehmet")

In [35]:
type(a1)

str

In [36]:
type(a2)

tuple

In [37]:
parantezsizdeolurdemet = "ali", 2, "mehmet"

In [38]:
type(parantezsizdeolurdemet)

tuple

In [40]:
C,"a"
type(nesne)

tuple

In [41]:
nesne2 = "123456789"
type(nesne2)

str

Demet oluşturmak için tuple() adlı bir fonksiyondan da yararlanabilirsiniz. Bu fonksiyon, liste
oluşturan list() fonksiyonuna çok benzer:
>>> tuple('abcdefg')
('a', 'b', 'c', 'd', 'e', 'f', 'g')

Bu fonksiyonu kullanarak başka veri tiplerini demete dönüştürebilirsiniz:
>>> tuple(["ahmet", "mehmet", 34, 45])
('ahmet', 'mehmet', 34, 45)

22.2.2 Tek Öğeli bir Demet Tanımlamak

Tek öğeli bir karakter dizisi oluşturabilmek için şu yolu izliyorduk hatırlarsanız:
>>> kardiz = 'A'
Bu tek öğeli bir karakter dizisidir. Bir de tek öğeli bir liste tanımlayalım:
    
>>> liste = ['ahmet']
Bu da tek öğeli bir listedir. Gelin bir de tek öğeli bir demet oluşturmaya çalışalım:
    
>>> demet = ('ahmet')
Bu şekilde tek öğeli bir demet oluşturduğunuzu zannediyorsunuz, ama aslında
oluşturduğunuz şey basit bir karakter dizisinden ibaret! Gelin kontrol edelim:
>>> type(demet)
<class 'str'>

Python programlama dilinde tek öğeli bir demet oluşturma işlemi biraz ‘tuhaf’tır. Eğer tek
öğeye sahip bir demet oluşturacaksak şöyle bir şey yazmalıyız:
>>> demet = ('ahmet',)
veya:
>>> demet = 'ahmet',

birbirine çok benzer. Ama demetlerle
listelerin birbirinden çok önemli bazı farkları da vardır. Bu iki veri tipi arasındaki en önemli fark
şudur; listeler değiştirilebilir (mutable) bir veri tipi iken, demetler değiştirilemez (immutable)
bir veri tipidir. Yani tıpkı karakter dizileri gibi, demetler de bir kez tanımlandıktan sonra
bunların üzerinde değişiklik yapmak mümkün değildir:

In [42]:
demet = ('ahmet','mehmet')

In [43]:
type(demet)

tuple

In [44]:
demet = demet + "ahmet"   #ahmet bir string dir. olmazz

TypeError: can only concatenate tuple (not "str") to tuple

In [45]:
demet = demet + ('ahmet',)

In [46]:
demet

('ahmet', 'mehmet', 'ahmet')

LİSTE METHODLARI

append() ve extend()

Bildiğiniz gibi, + işleci, append() ve extend() metotları öğeleri listenin sonuna ekliyor. Peki biz
bir öğeyi listenin sonuna değil de, liste içinde başka bir konuma eklemek istersek ne yapacağız?
İşte bunun için insert() adlı başka bir metottan yararlanacağız.

In [1]:
liste = ["elma", "armut", "çilek"]

In [2]:
liste.insert(0, "erik")

In [3]:
liste

['erik', 'elma', 'armut', 'çilek']

In [16]:
f = open("deneme.txt" , "r")

In [17]:
içerik = f.readlines()   #Bu satır sayesinde dosya içeriğini bir liste halinde alabildik. E

In [18]:
print(içerik)

['Ahmet Ã–zkoparan\n', 'Ferhat Yaz\n', 'Mehmet Veli\n', 'Serdar GÃ¼zel\n', 'Zeynep GÃ¼z']

In [19]:
içerik.insert(1, "Ferhat Yaz\n")

In [20]:
g= open("deneme.txt" , "w")

In [21]:
g.writelines(içerik)

In [22]:
f.close()
g.close()   # deneme.txt dosyasına manuel olarak bakarsan fatihin w= yani yazıldığını görürsün.

In [23]:
meyveler = ["elma", "armut", "çilek", "kiraz"]

In [34]:
meyveler.reverse() # bu fonksiyon değil, method

In [26]:
meyveler

['kiraz', 'çilek', 'armut', 'elma']

In [27]:
elmalar = ["elma1","elma2", "elma3"]

In [28]:
reversed(elmalar)

In [30]:
print(*reversed(meyveler))

kiraz çilek armut elma

In [32]:
for i in reversed(meyveler):
    
    print(i)

kiraz
çilek
armut
elma

In [33]:
print(list(reversed(meyveler)))

['kiraz', 'çilek', 'armut', 'elma']

Ancak bu metot, remove() metodundan biraz farklı davranır. pop() metodunu kullanarak
bir liste öğesini sildiğimizde, silinen öğe ekrana basılacaktır. Bu metot parametresiz olarak
kullanıldığında listenin son öğesini listeden atar. Alternatif olarak, bu metodu bir parametre
ile birlikte de kullanabilirsini

In [35]:
liste.pop() #silinen öğe göründü outda

'çilek'

In [36]:
üyeler = ['Ahmet', 'Mehmet', 'Ceylan', 'Seyhan', 'Mahmut', 'Zeynep',
'Abdullah', 'Kadir', 'Kemal', 'Kamil', 'Selin', 'Senem',
'Sinem', 'Tayfun', 'Tuna', 'Tolga']

In [37]:
üyeler.sort()

In [39]:
üyeler       # alfabeye göre sıralandı, sayıların küçükten büyüğe doğru sıralanması da olur.

['Abdullah',
 'Ahmet',
 'Ceylan',
 'Kadir',
 'Kamil',
 'Kemal',
 'Mahmut',
 'Mehmet',
 'Selin',
 'Senem',
 'Seyhan',
 'Sinem',
 'Tayfun',
 'Tolga',
 'Tuna',
 'Zeynep']

In [ ]:
Gördüğünüz gibi, sort() metodu öğeleri artan sıralamaya tabi tutuyor. Yani öğeler ‘a, b, c’
veya 1, 2, 3 şeklinde sıralanıyor. Bunun tersini yapmak da mümkündür. Yani istersek Python’ın
sıralama işlemini ‘c, b, a’ şeklinde yapmasını da sağlayabiliriz. Bunun için sort() metodunun
reverse parametresini kullanacağız:

In [42]:
üyeler.sort(reverse=True)   # tam tersi oluyor.

In [43]:
üyeler

['Zeynep',
 'Tuna',
 'Tolga',
 'Tayfun',
 'Sinem',
 'Seyhan',
 'Senem',
 'Selin',
 'Mehmet',
 'Mahmut',
 'Kemal',
 'Kamil',
 'Kadir',
 'Ceylan',
 'Ahmet',
 'Abdullah']

In [46]:
liste1 = ["ahmet", "mehmet", "özlem"]

In [47]:
liste2 = liste1

In [48]:
liste2

['ahmet', 'mehmet', 'özlem']

In [58]:
k = ["a","b","c"]
k3 = k[:]

In [59]:
k3

['a', 'b', 'c']

# tuplenin metotoları

In [60]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [61]:
demet = ("elma", "armut", "çilek")
demet.index("elma")

0

In [77]:
sayı_sistemleri = ["onlu"]
print(("{:^10} "*len(sayı_sistemleri)).format(*sayı_sistemleri))

   onlu

In [ ]:
   onlu     sekizli

In [1]:
for i in dir(complex):
    if not i.startswith("_"):
        print(i)

conjugate
imag
real

In [3]:
[i for i in dir(complex) if not i.startswith("_")]#liste yapmak istediğimiz ve liste yapmazsak çalışmayacak olan bir kod yazdık

['conjugate', 'imag', 'real']

i yi koy, for i in leri koy ve if... leri koy, en aşağıya i yi print ettirmen gerekirdi ama en başa i yi koydun

In [2]:
i for i in dir(complex) if not i.startswith("_")

SyntaxError: invalid syntax (<ipython-input-2-7a9b67553405>, line 1)

In [ ]:
max()